// 主色
@primaryColor: #00e5e5;
// 成功
@successColor: #16ce67;
// 警告
@warningColor: #eca303;
// 错误危险
@dangerColor: #f53d2d;

// 主文本
@textPrimaryColor: #dae4e5;
// 辅助文本
@textAuxiliaryColor: #9ea0a6;
// 列表文本
@textSecondaryColor: #b4c1d4;
// 副文本
@textSubColor: #b6b8bf;

// 边框
@borderColor: #d7dbe6;
// 分割线
@lineColor: #eeeff1;

// 卡片背景色
@cardBackground: #1f2b38;

@secondaryBackground: #e6e9f2;

@modalCardBackground: #ffffff;
@mainBackground: #f2f4f7;
@innerComponentBackground: #f3f5fa;

@numberFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
