@primaryColor: #00e5e5;
@successColor: #16ce67;
@warningColor: #eca303;
@dangerColor: #ff5446;
@disabledColor: #7da9b3;

@textPrimaryColor: #dae4e5;
@textSecondaryColor: #9ea0a6;
@textAuxiliaryColor: #b6b8bf;

@borderColor: #39566b;
@lineColor: fade(#dae4e5, 15%);

@innerComponentBackground: #233542;
// background: #192A33;;

@numberFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

:root:root {
  --van-picker-background: #1f2839;
  --van-font-size-lg: 18px;
  --van-border-color: fade(#dae4e5, 25%);
  // --van-primary-color: #00E5E5;
  // --van-success-color: #16CE67;
  // --van-warning-color: #ECA303;
  // --van-error-color: #FF5446;

  // --van-text-color: #DAE4E5;
  // --van-text-color-2: #B6B8BF;
  // --van-background: #0C0C0C;
  // --van-base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB',
  // 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  // 'Segoe UI Emoji', 'Segoe UI Symbol';
}
